{% extends 'base.html.twig' %}

{% block title %}Mój blog{% endblock %}



        {% block javascripts %}
        {% endblock %}




{% block body %}

   {{include('menu.html.twig')}}
   
        <div>
            <h2>Ostatni artykuł</h2>
            {{include('articles/article_teaser.html.twig', {article: lastArticle})}}
        </div>


{% endblock %}
