{% extends 'base.html.twig' %}


{% block title %}Moje notatki{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello </h1>


   {% for notatka in notatki%}

   <span>Id artykułu: {{notatka.id}}</span></br>
   <span>Tytuł artykułu: {{notatka.Title}}</span></br>
   <span>Treść artykułu: {{notatka.ContentNote}}</span></br>

   {% endfor%}


</div>
{% endblock %}
